<!DOCTYPE html>
<html>
<head>
	<title>简单计算器</title>
</head>
<body>
	<div id="app">
		<h2>简单计算器</h2>
	<div>
		数值a
		<input type="text" v-model="a">
	</div>
	<div>
		数值b
		<input type="text" v-model="b">
	</div>
	<div>
		<button  @click="handle">计算</button>
	</div>
	<div>
		结果:<span v-text="c"></span>
	</div>
	</div>

</body>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript">
	var vm=new Vue({
		el:'#app',
		data:{
			a:'',
			b:'',
			c:'',
		},
		methods:{
			handle: function(){
				this.c=parseFloat(this.a)+parseFloat(this.b);
			}
		},
	});
</script>


</html>